* {
  margin: 0;
  padding: 0;
}

.container {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/diagonal-squares.png) repeat center;
}

.card-wrapper {
  height: 600px;
  width: 450px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(images/diagonal-squares.png) repeat center;
  border-radius: 15px;
  transition: box-shadow 1s;
}

.card-wrapper:hover {
  box-shadow: 0 0 40px #fff;
}

.card {
  height: 100%;
  width: 100%;
  background: linear-gradient(17deg, rgba(255, 0, 234, 0.2) 15%, rgb(0, 0, 0) 44%);
  border-radius: inherit;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-between;
}

.card-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin: 70px 0;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: -5px -8px 100px rgba(255, 255, 255, 0.8);
}

.card-heading,
.card-paragraph {
  color: #fff;
  text-align: center;
}

h1.card-heading {
  font-size: 4rem;
  font-family: Monaco;
}

p.card-paragraph {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

ul {
  display: flex;
  width: 100%;
  height: 5vh;
  justify-content: space-around;
  list-style-type: none;
  margin-bottom: 30px;
}

i {
  color: #fff;
  font-size: 1.5rem;
}

.fa-quote-right {
  margin-left: 15px;
  font-size: 1rem;
}

.fa-quote-left {
  margin-right: 15px;
  font-size: 1rem;
}
